.test{
    border-style:solid;
    width:100px;
    height:100px;
    margin:1px;
    position:absolute;
}
body{
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
}
*{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}