@font-face {
    font-family: 'novecento';
	font-weight:bold;
	src: local('novecento'), local('novecento'), url('fonts/novecentowide-bold-webfont.woff') format('woff');
}
	
@font-face {
	font-family: 'novecento';
	font-weight:normal;
	src: local('novecento'), local('novecento'), url('fonts/novecentowide-light-webfont.woff') format('woff');
}
    
.movable{
    position:absolute;
    color:white;
    border-color:black;
    background:#ccc url('img/bg02.gif') top left;
}

*{ /*dit zorgt er voor dat je niks kan selecteen*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
body{
    background:#ccc url('img/bg01.gif') top left;
    overflow:hidden;
}

body{
	color:black;
}
#topBar{
    background:#ccc url('img/bg02.gif');
	color:#fff;
    width:100%;
    
    position:fixed;
    top:-1px;
    left:0px;
    
    font-size:33px;
	line-height:37px;   
}
#title{
    font-family: Helvetica, Calibri, sans-serif;
	font-weight:bold;
	color:#fff;
	letter-spacing:-2px;
	padding-left:5px;
}

#title i{
	font-family: Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-style:normal;
    letter-spacing:0px;
	color:#ddd;
	}

#nav{
    float:right;   
}
#logIn{
    width:32px;
    height:32px;
    background-image: url('img/LogIn.png'); 
    margin:3px;
}
#sideMenu{
    position:fixed;
    background:#242424;
    width:40px;
    height:140px;
    z-index:9001;
}
#sideMenuToggle{
    position:absolute;
    background-image: url('img/sideMenuToggle2.gif');
    height:60px;
    width:32px;
    top:40px;
    z-index:9000;
}
#save{
    width:32px;
    height:32px;
    margin-left:auto;
    margin-right:auto;
    margin-top:4px;
    background-image: url('img/save.gif');
}
#load{
    width:32px;
    height:32px;
    margin-left:auto;
    margin-right:auto;
    background-color:#CCC;
}
#languages{
    text-align:center;
    position:absolute;
    top:100px;
    border-style:solid;
}
.list>span{
    display:block;
    margin-bottom:-2px;
}
#contact{
    position:absolute;
    top:400px;
    border-style:solid;
}














